{%- comment -%}
  Formats one entry from _data/publications.yml.
  Usage: {% include citation.html paper=paper press=true %}
{%- endcomment -%}
{%- assign paper = include.paper -%}
       {{ paper.authors }}

		{% if paper.year %}
        <b>({{ paper.year }})</b>.
		{% endif %}

        <i>{{ paper.title }}</i>,

        <b>{{ paper.journal }}</b>,

        	{% if paper.status %}
        <i>({{ paper.status }})</i>
		{% endif %}

	     <a href="{{ paper.DOI }}" target='_blank'>{{ paper.DOI }}</a>

        {% if paper.pdf %}
              |   <a  href="/assets/paper_pdfs/{{ paper.pdf }}" target='_blank'>PDF</a>
        {% endif %}
                      <br>

    {% if include.press and paper.press %}
        <strong style="color:#828282">See media coverage in:  </strong>
            {% for item in site.data[paper.press] %}
                <a href="{{item.pressLink}}" target='_blank'>{{ item.press }}</a>
            {% endfor %}
	{% endif %}
