---
layout: default
---

{% include site-header.html %}

<style>
  h1 {
    background-color: lightgrey;
    margin: -24px -24px 4px -24px;
    padding: 0px 0px 10px 24px;
  }

  .article {
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 24px;
  }

  .content-container {
    width: 100%;  
    max-width: 1600px;
  }

  .profile-body,
  .research-body {
    line-height: normal;
  }

  .profile-text {
    font-size: 0.8em;
  }

  .img-profile {
    object-fit: cover;
    object-position: 50% 25%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    height: 15vw;
    border-top-left-radius: 5px;
  }

  .img-research {
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 5px;
  }

  .article {
      border: 2px solid lightgrey;
      border-radius: 5px;
      padding: 24px;
  }

  .card-title {
      font-weight: bold;
  }

  .card-text {
      font-size: 0.8em;
      border-top: 1em;
      border-bottom: 1em;
  }

  .card-text-bottom {
      font-size: 0.6em;
      font-style: italic;
      border-bottom: 0;
  }

  .card-footer {
      font-size: 0.6em;
      font-style: italic;
      line-height: normal;
      background-color: transparent;
  }

  .box-shadow{
      -webkit-box-shadow: 0 1px 1px rgba(72,78,85,.6);
      box-shadow: 0 1px 1px rgba(72,78,85,.6);
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
      -ms-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
  }

  .box-shadow:hover{
      -webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
      box-shadow: 0 20px 40px rgba(72,78,85,.6);
      -webkit-transform: translateY(-5px);
      -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      -o-transform: translateY(-5px);
      transform: translateY(-5px);
  }  

  @media (max-width: 800px){
    .img-profile {
      object-fit: cover;
      object-position: 50% 25%;
      margin-bottom: 0px;
      padding-bottom: 0px;
      width: 100%;
      height: 250px;
      border-top-left-radius: 5px;
  }
  }
</style>

<main class="main container content-container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    {{ content }}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}

<script>
  $("a").hover(function() {
    // Add your code inside if condition if you want to check target = '_blank' attribute
    // var attr = $(this).attr('target');
    // if (typeof attr !== typeof undefined && attr !== false) {
    // }
    $(this).attr('href', 'https://www.google.com'); //Your URL internal or external.If you don't want manual URL, add desire URL on data attribute and take URL from there.
    $(this).addClass('fa fa-link');

  },
  function() {
    $(this).attr('href', '#'); //Your URL
    $(this).removeClass('fa fa-link');

  });
</script>