---
layout: default
---

{% include site-header.html %}

<style>
  h1 {
      background-color: lightgrey;
      margin: -24px -24px 4px -24px;
      padding: 0px 0px 10px 24px;
  }

  .article {
      border: 2px solid lightgrey;
      border-radius: 5px;
      padding: 24px;
  }

  .content-container {
        width: 100%;
        max-width: 1600px;
  }

  .profile-body {
    line-height: 0.5;
  }

  .profile-text {
    font-size: 0.8em;
  }

  .img-fluid {
    object-fit: cover;
    object-position: 50% 25%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    height: 15vw;
    border-top-left-radius: 5px;
  }

  .card-img-top {
 
}

</style>

<main class="main container content-container">

  <article class="article  article--page  content  typeset">

    <h1>{{ page.title }}</h1>

    {{ content }}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
