---
layout: default
---

{% include site-header.html %}

<style>
    h1 {
        background-color: lightgrey;
        margin: -24px -24px 4px -24px;
        padding: 0px 0px 10px 24px;
    }

    .img-fluid {
        height: 100%;
        object-fit: cover;
    }

    .research-container {
        width: 100%;
        max-width: 1600px;
    }

    .article {
        border: 2px solid lightgrey;
        border-radius: 5px;
        padding: 24px;
    }

    .rounded-topleft {
        border-top-left-radius: 5px;
    }

    .card-title {
        font-weight: bold;
    }

    .card-text {
        font-size: 0.8em;
        border-top: 1em;
        border-bottom: 1em;
    }

    .card-text-bottom {
        font-size: 0.6em;
        font-style: italic;
        border-bottom: 0;
    }

    .card-footer {
        font-size: 0.6em;
        font-style: italic;
        line-height: normal;
        background-color: transparent;
    }
</style>

<main class="main container research-container">

    <article class="article  article--page  content  typeset">
        <h1>{{ page.title }}</h1>

        {{ content }}    
    </article>

    {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
